<!DOCTYPE html>
<html lang="en">
    <head>
        <title>WebApplication for OpenId Auth</title>
        <link rel="stylesheet" type="text/css" href="../public/css/site.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="../public/js/index.js"></script>
    </head> 
<body>
    <h1>Welcome GUEST!</h1>
    <div>
        <button id="login-btn">LOGIN</button>
    </div>
</body>

</html>